@media (max-width: 767px) {

    body, html {
        margin: 0;
        padding: 0;
        background-color: black;
    }

    .scroll-container, .content, .eventos {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    #section1 img {
        width: 100%;
        object-fit: contain;
        background-color: #000;
    }

    .eventos {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .evento-titulo {
        width: 100vw;
        height: 100vh;
    }

    .evento-descricao {
        width: 100vw;
        height: 120vh;
        box-shadow: 0px 0 0px rgba(0, 0, 0);
        background-color: black;
        color: white;
    }

    .titulo-texto, .subtitulo-texto {
        margin-left: 0;
    }

    .descricao-texto {
        width: 100vw;
        height: auto;
        margin-left: 10px;
        margin-right: 20px;
        padding: 20px;
        position: absolute;
        top: 25vh;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .video-principal {
        width: 100vw;
        z-index: auto;
        top: 0;
        left: 0;
        padding: 20px;
        max-width: 100%;
        height: 20vh;
    }

    .imagens-evento {
        width: 50%;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 100px;
    }

    .imagem-evento {
        width: 100%;
        margin-bottom: 10px;
    }

    .imagem-evento img {
        width: 100%;
        height: auto;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
    }

    .video-principal video {
        width: 100%;
        height: 30vh;
        border-radius: 10;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
    }

    /* Estilo para a galeria no modal */
    #modalEvento {
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        overflow: auto;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        margin: 2%;
        width: 95vw;
        height: 90vh;
    }

    .modal-galeria {
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
        margin-top: 20px;
        justify-content: space-between;
    }

    .modal-galeria img {
        width: calc(50% - 10px);
        margin-bottom: 10px;
        object-fit: cover;
    }

    .titulo-galeria {
        width: 100%;
        min-width: auto;
        height: auto;
    }

    .modal-content img {
        width: 100%;
        height: auto;
        display: block;
        margin: 10px;
        margin-bottom: 35px;
    }

    .close {
        display: flex;
        bottom: 35px;
        right: 35%;
        font-size: 18px;
    }

    .galeria {
        display: none;
    }

}

@media (max-width: 320px) {
    .descricao-texto {
        font-size: 12px;
        margin: 10px 0;
        line-height: normal;
    }

    .imagens-evento {
        height: fit-content;
        margin-top: 140%;
    }

    .modal-content {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
    }
}
